---
import 'the-new-css-reset';
import { Header } from '../components/Header';
import { Footer } from '../components/Footer';

interface Props {
  title: string;
  ogType: string;
}

const { title } = Astro.props;
const { ogType } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta name="generator" content={Astro.generator} />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Over The Coffee | {title}</title>
    <meta name="description" content="Over The Coffee Official Web Site" />
    <meta name="format-detection" content="telephone=no" />

    <!-- favicon/webclipicon -->
    <link rel="icon" href="/image/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/image/favicon.svg" />
    <link rel="apple-touch-icon" href="/image/webclip.png" />

    <!-- ogp -->
    <meta property="og:site_name" content="Over The Coffee" />
    <meta property="og:url" content="https://overthecoffee.net/" />
    <meta property="og:type" content={ogType} />
    <meta property="og:title" content=`Over The Coffee | ${title}` />
    <meta
      property="og:description"
      content="Over The Coffee Official Web Site"
    />
    <meta
      property="og:image"
      content="https://overthecoffee.net/image/ogp.png"
    />
    <meta property="og:locale" content="ja_JP" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:description"
      content="Over The Coffee Official Web Site"
    />
    <meta
      name="twitter:image:src"
      content="https://overthecoffee.net/image/ogp.png"
    />
  </head>
  <body>
    <div class="header">
      <Header />
    </div>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:
      'Noto Sans JP',
      'Helvetica Neue',
      'Arial',
      'Hiragino Kaku Gothic ProN',
      'Hiragino Sans',
      'Meiryo',
      sans-serif;
    background-color: #fcfcfc;
  }

  @font-face {
    src: url('/fonts/NotoSansJP-Regular.woff') format('woff');
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
  }

  @font-face {
    src: url('/fonts/NotoSansJP-Bold.woff') format('woff');
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
  }

  main {
    flex-grow: 1;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 50px 16px 0;
    box-sizing: border-box;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
</style>
